<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat | json}} {{ chat.mensaje }}
  </li>
</ul> -->
<div class="container main-container">

    <div class="cont-titulo">
      <h1 class="titulo_page">Firechat</h1>
    </div>

    <div class="col-md-12 text-right" *ngIf="_chatServies.usuario.uid ; else showLogin">
      <button type="button" class="btn btn-outline-danger" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>


    <ng-template #showLogin>
      <app-login></app-login>
    </ng-template>

    <div *ngIf="_chatServies.usuario.uid ">
        Bienvenido: {{ _chatServies.usuario.nombre }}
    </div>

    <div class="chat-window" *ngIf="_chatServies.usuario.uid">
      <app-chat></app-chat>    
    </div> 

</div>



<!-- 
<div class="container main-container">

    <div class="cont-titulo">
      <h1 class="titulo_page">Firechat</h1>
    </div>

    <div class="col-md-12 text-right" *ngIf="_chatServies.usuario.uid">
      <button type="button" class="btn btn-outline-danger" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>


    <div *ngIf="!_chatServies.usuario.uid">
      <app-login></app-login>
    </div>
    <div *ngIf="_chatServies.usuario.uid ">
      Bienvenido: {{ _chatServies.usuario.nombre }}
    </div>

</div> -->